<div ng-controller="checkinController as showCase">
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-default" onClick="history.back()">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
                </button>
            </div>
            <h3 class="box-title text-center">
                <button type="button" class="btn btn-primary btn-lg" ui-sref="checkin_add">
                    <i class="fa fa-plus"></i> Check IN
                </button>
                <!--
                <button type="button" class="btn bg-navy btn-lg" ui-sref="checkin_auto">
                    <i class="fa fa-plus"></i> ทำรายการจองอัตโนมัติ
                </button>
                -->
            </h3>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="row-border hover table table-striped table-hover jambo_table bulk_action">
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <!-- Modal -->
    <div class="modal" id="ShowCheckinDetail" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ShowCheckinDetailLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ShowCheckinDetailLabel">รายละเอียด</h4>
                </div>
                <div class="modal-body" id="printBodyDetail">
                    <blockquote >
                        <p>ลูกค้า : {{FULLNAME}}</p>
                        <p>วันเข้าพัก : {{E_START | amDateFormat:'ddd , DD/MM/YYYY' }}
                            <kbd>ถึง</kbd> {{ E_END | amDateFormat:'ddd , DD/MM/YYYY'}}</p>
                        <p>จำนวน : {{E_BETWEEN}} วัน</p>
                        <p>เลขที่ใบเสร็จ : {{BILLCODE}} <span style="float: right;">วันที่ {{CREATED | amDateFormat:'DD/MM/YYYY'}}</span></p> 
                        <p>หมายเหตุ : {{NOTE}}</p>
                    </blockquote>
                    <hr>
                    <table width="100%" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th>ประภทห้อง</th>
                                <th>ห้อง</th>
                                <th>ราคา</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="bd in checkin_detailRepeat">
                                <td>{{$index+1}}</td>
                                <td>{{bd.NAME_TYPE}}</td>
                                <td>{{bd.room_data_CODE + ' : ' + bd.ROOM_NAME }}</td>
                                <td align="right" class="text-right">{{bd.PRICE | currency: 'THB '}}</td>
                            </tr>
                        </tbody>
                        <tfoot>                             
                            <tr>
                                
                                <td style="border-top: 1px outset #666;" colspan="3"  align="right" class="text-right">ค่าเตียงเสริม :</td>
                                <td style="border-top: 1px outset #666;" align="right" class="text-right">{{PRICE_BEDPLUS | currency: 'THB '}}</td>
                            </tr>
                            <tr>
                                <td colspan="3" align="right" class="text-right">ส่วนลด :</td>
                                <td align="right" class="text-right">{{DISCOUNT | currency: 'THB '}}</td>
                            </tr>  
                            <tr>
                                <td colspan="3" align="right" class="text-right">รวม :</td>
                                <td align="right" class="text-right">{{PRICE_TOTAL | currency: 'THB '}}</td>
                            </tr>  
                             <tr>
                                <td colspan="3" align="right" class="text-right">เงินมัดจำ :</td>
                                <td align="right" class="text-right">{{DEPOSIT | currency: 'THB '}}</td>
                            </tr>                                                    
                            <tr>
                                <th colspan="3" align="right" class="text-right"><u>รวมเป็นเงินทั้งสิ้น :</u></th>
                                <th align="right" class="text-right"><u>{{PRICE_SUM_TOTAL | currency: 'THB '}}</u></th>
                            </tr>    
                            <tr>
                                <td colspan="3" align="right" class="text-right">ชำระแล้ว :</td>
                                <td align="right" class="text-right">{{PAY | currency: 'THB '}}</td>
                            </tr>
                            <tr ng-if="OWE>=0">
                                <td colspan="3" align="right" class="text-right">ค้างชำระ :</td>
                                <td align="right" class="text-right">{{OWE | currency: 'THB '}}</td>
                            </tr>
                            <tr ng-if="CHANGE>0">
                                <td colspan="3" align="right" class="text-right"> เงินทอน:</td>
                                <td align="right" class="text-right">{{CHANGE | currency: 'THB '}}</td>
                            </tr>
                                           
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="PrintElem('printBodyDetail')">
                       <i class="fa fa-print"></i> Print</button>
                    <button type="button" class="btn btn-success" ng-click="PrintElem('printBodyDetail',true)">
                        <i class="fa fa-print"></i> ใบเสร็จกำกับภาษี</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<div class="pull-left" ng-include="'./include/info.calculator.html'"></div>-->
                </div>
            </div>
        </div>
    </div>
</div>
