<div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

          <p>
            We could not find the page you were looking for.
            Meanwhile, you may <a ui-sref="home">return to Home</a>
          </p>
          
        </div>
        <hr>
        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> ไม่พบหน้านี้ !.</h3>

          <p>
            เราไม่สามารถพบหน้าเว็บที่คุณมองหา ในขณะเดียวกันคุณอาจ <a ui-sref="home">กลับไปยัง หน้าแรก</a>
          </p>
          
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->